name: Android-SDK Build

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Build AAR
        run: ./gradlew assembleRelease

      - name: Upload AAR
        uses: actions/upload-artifact@v4
        with:
          name: android-sdk-aar
          path: build/outputs/aar/*.aar
